body {
    font-family: 'Mattone', sans-serif;
    background-color: #1c2361;
    color: #c7dceb;
    margin: 0;
    padding: 0;
}

.accueil-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fond-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#ebe4b7 10px, transparent 10px);
    background-size: 50px 50px;
}

.titre {
    text-align: center;
    margin-bottom: 20px;
}

.titre h1 {
    font-size: 5em; /* 2 fois plus gros */
}

.titre h2 {
    font-size: 1.2em;
}

.bouton-connexion {
    padding: 15px 30px; /* taille du bouton */
    background-color: #c7dceb;
    color: #1c2361;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.bouton-connexion:hover {
    background-color: #1c2361;
    color: #c7dceb;
}

.bouton-creer-compte {
    position: absolute; /* placer en haut à droite */
    top: 20px;
    right: 20px;
    color: #ebe4b7; /* couleur des points */
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 135px; /* 1.5 fois plus grand */
    height: 135px; /* 1.5 fois plus grand */
}
